// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {

  /* Colors */
  --ion-color-primary: #FFBF00;
  --ion-color-primary-rgb: 255,191,0;

  --app-bg: #FFFDF5;
  --text-dark: #2D2D2D;

  /* Border radius */
  --app-radius: 12px;
}